In [20]:
A = {2, 4, 5, 3, 1, "apple ", "card ", "banana ", "halo"}
B = {2, 4, 5, 3, 1, 'apple ', 'card ', 'banana ', 'halo'}

In [26]:
x = [11, 12, 13, 14, 15]
x[2:4]
x.index(11)

0

In [34]:
T = {1:50, 2:60, 3:70}
T.values()

dict_values([50, 60, 70])

In [41]:
a = 5.5
type(a)
y = "message"
y[1:4]
len(y)

7

In [46]:
s = "hi       now    "
len(s)
str.strip(s)

'hi       now'

In [51]:
i = "ello    world   "
i.count("l")

3

In [56]:
c = range(5)
print(c)
d = list(range(60))
print(d)
e = list(range(1, 11))
print(e)

range(0, 5)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
range(0, 11) == range(10)
range(0,11) == range(11)

True

In [60]:
a = list(range(1, 10))
len(a)

9

In [63]:
#start, end, jumps of
q = list(range(1, 13, 3))
print(q)
u = list(range(0, 100, 10))
print(u)

[1, 4, 7, 10]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [96]:
l = [11, 22, 33, 44, 55, 66, 77]
print(l[6:2:-1])
h = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(h[8::-1])

[77, 66, 55, 44]
[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [98]:
#works as an iterator to return a result after applying a function to every item of an iterable
O = ["Mexico is amazing", "CDMX means Ciudad de Mexico", "Canada", "Cuba"]
Length = list(map(lambda j:len (j), O))
print(Length)

[17, 27, 6, 4]

In [102]:
A = list(filter(lambda x:x%2 ==0, [1, 2, 3, 4, 5]))
marks = [24, 36, 48, 59, 63, 74, 85]
B = list(filter(lambda x:x>50, (marks)))
print(A, B)

[2, 4] [59, 63, 74, 85]

In [106]:
L = ["Mine", "My favorite is the bear", "sister", "Real people are the best people"]
list(filter(lambda a:len(a)>7, L))

['My favorite is the bear', 'Real people are the best people']

In [113]:
"Python is fun".split()

s = "Welcome to Data Science Lovers"
s.split()
len(s)

30

In [114]:
a = s.split()
len(a)

5

In [124]:
s1 = "S1: Hi all, today, we're learning Python, yay"
s1s = s1.split(",")
print(s1s)
print(len(s1s))


s2 = "S2: Hi all, today, we're learning Python, yay"
s2s = s2.split()
print(s2s)
len(s2s)

['S1: Hi all', ' today', " we're learning Python", ' yay']
4
['S2:', 'Hi', 'all,', 'today,', "we're", 'learning', 'Python,', 'yay']

8

In [ ]:
#maxsplit will show specified number + 1
s3 = "We're learning Python for DataScience"
s3.split(' ', 3)
#enumerate !!!!!!!!
tuple(enumerate(s3))

In [132]:
x = "HELLO WORLD"
y = "WE ARE LEARNING PYTHON TODAY"
con = lambda x, y:print(x + " " + y)
con(x, y)

HELLO WORLD WE ARE LEARNING PYTHON TODAY

In [133]:
#short way of writing print if else 
x = 100
y = 200

print("yes") if x>y else print("no")

no

In [134]:
DSL = "PYthon", "Data science", "Machine learning", "statistics", "artificial intelligence"

for i in DSL:
  print(i)
  if i == "Machine learning":
    break

PYthon
Data science
Machine learning

In [140]:
DSL = "Python", "Data science", "Machine learning", "statistics", "artificial intelligence"

for i in DSL:
  if i == "Machine learning":
    continue
  print(i)

  DSL = "Python", "Data science", "Machine learning", "statistics", "artificial intelligence"

print("\n")
for j in DSL:
  print(j)
  if j == "Machine learning":
    continue

Python
Data science
statistics
artificial intelligence


Python
Data science
Machine learning
statistics
artificial intelligence